<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fintecha75">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/main_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/main_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.FintechA75"
        android:fullBackupContent="false">
        <activity
            android:name=".MovementsClientActivity"
            android:exported="false" />
        <activity
            android:name=".SearchMarketActivity"
            android:exported="false" />
        <activity
            android:name=".FilterMarketActivity"
            android:exported="false" />
        <activity
            android:name=".NewCreditActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityMovementOptions"
            android:exported="false" />
        <activity android:name=".MovementsMarketActivity" />
        <activity android:name=".ui.BranchesActivity" />
        <activity android:name=".SingUpActivityMarket" />
        <activity android:name=".SingUpActivityClient" />
        <activity android:name=".LoginActivityMarket" />
        <activity android:name=".LoginActivityClient" />
        <activity android:name=".StartActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>